body.presentation_auction_main
{
    .bid-title
    {
        font-size: 40px;

        .bid-amount
        {
            font-size: 64px;
            color: #FA6900;
        }

        .bidder-img
        {
            width: 80px;
            display:inline-block;
            vertical-align:middle;

            .img-circle {
                height:80px;
                margin: 0;
                vertical-align:middle;
            }
        }
    }
}