<template name="login">
    <div class="top50">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1>Hey there! To Start, Login With Google</h1>
                <a class="btn btn-primary btn-xing btn-lg btn-social btn-login-xing">
                    <i class="fa fa-xing"></i>
                    Login with Xing</a>
                <a class="btn btn-primary btn-linkedin btn-lg btn-social btn-login-linkedin">
                    <i class="fa fa-linkedin"></i>
                    Login with LinkedIn</a>
            </div>
        </div>
    </div>
</template>