@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600);

html,
body{
    height:100%;
}

body, .btn{
    font-family: 'Open Sans', sans-serif !important;
    text-decoration: none!important;
}

body.presentation
{
    background:#69D2E7;
    padding-top:90px;
}

.modal
{
    color: #343434;
}

.main-container
{
    padding-top: 2px;
    padding-bottom: 30px;
    .main-section
    {
        padding:20px;

        &:nth-child(even)
        {
            border-top: 1px solid #ccc;
            background: #f0f0f0;
        }
    }
}

.box{
  i{
    font-size:30px;
  }
}

.section-title{
    text-align: center;
    margin:0 0 20px;
    font-size:26px;
}