<tr style="{{styleTable}}">
    <td class="content-block"
        style="{{styleTd}}"
        valign="top">
        <strong>Amazing!</strong>
        <br />
        <br />
        You won the challenge. You'll be shadowing {{master}} on {{skill}} and donate &euro;{{amount}} to {{charity}}.
        <br />
        <br />
        <a href="{{url}}" class="btn-primary" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #348eda; margin: 0; padding: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px;">Make Your Donation Of &euro;{{amount}}</a>
    </td>
</tr>