<template name="presentation.auction.main">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="bg-white-transparent pfull20">
                    {{#if isApproved}}
                    {{#if countDown}}
                    <h1 class="page-title">Ends in: {{countDown}}</h1>
                    {{/if}}
                    {{/if}}
                    {{#if hasBid }}
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="bid-title">CURRENT BID <span class="bid-amount">&euro;{{ currentBid }}</span></h2>
                        </div>
                        <div class="col-md-12">
                            <h3 class="bidder-detail">by

                                <span class="bidder-img">
                                    <div class="img-circle" style="background-image:url('{{bidderProfilePicture}}')"></div>
                                </span>
                                {{bidderFullName}}
                            </h3>
                        </div>
                    </div>

                    {{else}}
                    <h2 class="bid-title">PLACE THE FIRST BID: <span class="bid-amount">&euro; {{ currentBid }}</span>
                    </h2>
                    {{/if}}
                    <div class="row">
                    {{#if isWinner}}
                    {{#if isTerminated}}
                    <div class="col-md-12">
                        <h1>CONGRATULATIONS! YOU WON THIS</h1>
                    </div>
                    {{else}}
                    <div class="col-md-12">
                        <h1>SO FAR, YOU ARE ROCKING THIS</h1>
                    </div>
                    {{/if}}
                    {{else}}
                    {{#if isTerminated}}
                    <div class="col-md-12">
                        This auction ended.
                    </div>
                    {{else}}
                    <div class="row">
                        <div class="col-sm-offset-4 col-sm-4">
                            <div class="input-group">
                                <span class="euro">&euro;</span>
                                <input type="number" class="txt-number text-right form-control input-lg" placeholder="Amount"
                                       value="{{newAmount}}">
                    <span class="input-group-btn">
                        <button class="btn-place-bid btn btn-success btn-lg" type="button">Place Bid <i
                                class="fa fa-thumbs-up"></i></button>
                    </span>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/if}}
                    </div>
                </div>

                <div class="bg-white-transparent pfull20 bid-sms">
                    <h2>or send a text to {{number}} with <span class="inline">{{code}} {{newAmount}}</span> (or whatever amound higher than {{newAmount}})</h2>
                </div>
                <div class="bg-white-transparent pfull20 bid-sms">
                    <h2>or send a text to inbound@enrico.foschi.bymail.in with  <span class="inline">{{code}} {{newAmount}}</span> (or whatever amound higher than {{newAmount}})</h2>
                </div>
            </div>
            <div class="col-md-3">
                <section class="text-center bg-white-transparent pfull20">
                    <h2>Previous Bids By</h2>

                    {{#if previousBids}}
                    <ul class="list-unstyled previousBids">
                        {{#each previousBids}}
                        <li class="bottom15">
                            {{#if previousBidderProfilePicture user_id}}
                            <span class="bidder-img">
                                <div class="img-circle"
                                     style="background-image:url('{{previousBidderProfilePicture user_id}}')"></div>
                            </span>
                            {{/if}}
                            {{previousBidderFirstName user_id}}
                            bid &euro;{{amount}}
                        </li>
                        {{/each}}
                    </ul>
                        {{else}}
                        No bids yet...
                    {{/if}}
                </section>
            </div>
        </div>
    </div>
    <div class="modal fade" id="signupDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Who are thou <i class="fa fa-smile-o"></i>?</h4>
                </div>
                <div class="modal-body text-center">
                    <p class="bottom15">Please authenticate with:</p>
                    <a class="right10 btn btn-lg btn-social btn-continue-twitter btn-twitter">
                        <i class="fa fa-twitter"></i> Twitter
                    </a>
                    <a class="right10 btn btn-lg btn-social btn-continue-facebook btn-facebook">
                        <i class="fa fa-facebook"></i> Facebook
                    </a>
                    <a class="btn btn-lg btn-social btn-continue-linkedin btn-linkedin">
                        <i class="fa fa-linkedin"></i> LinkedIn
                    </a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>