<template name="presentation.auction.main">
    <div class="container text-center">
        {{#if hasBid }}
            <h2 class="bid-title">CURRENT BID: <span class="bid-amount">&euro;{{ currentBid }}</span> by

                <span class="bidder-img">
                    <div class="img-circle" style="background-image:url('{{bidderProfilePicture}}')"></div>
                </span>
                {{bidderFullName}}
            </h2>

            {{#if isWinner}}
                Hold on buddy, you are winning
            {{else}}
                <button class="btn btn-lg btn-place-bid btn-success">BID &euro;{{ newAmount }}</button>
            {{/if}}
        {{else}}
            <h2 class="huge">PLACE THE FIRST BID: <span class="bigger">&euro; {{ currentBid }}</span></h2>
            <button class="btn btn-lg btn-place-bid btn-success">BID &euro;{{ currentBid }}</button>
        {{/if}}
    </div>
    <div class="modal fade" id="signupDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Who are thou <i class="fa fa-smile-o"></i>?</h4>
                </div>
                <div class="modal-body text-center">
                    <p class="bottom15">Please authenticate with:</p>
                    <a class="right10 btn btn-lg btn-social btn-continue-twitter btn-twitter">
                        <i class="fa fa-twitter"></i> Twitter
                    </a>
                    <a class="right10 btn btn-lg btn-social btn-continue-facebook btn-facebook">
                        <i class="fa fa-facebook"></i> Facebook
                    </a>
                    <a class="btn btn-lg btn-social btn-continue-linkedin btn-linkedin">
                        <i class="fa fa-linkedin"></i> LinkedIn
                    </a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>